<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Avaliação PHP"</title>
    <link
            rel="stylesheet"
            crossorigin="anonymous"
            integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
    />
    <link
            type="text/css"
            crossorigin="anonymous"
            rel="stylesheet"
            href="/assets/fontawesome/css/all.min.css"
    >
    <style type="text/css">
        * {
            line-height: 1;
        }

        *, :after, :before {
            box-sizing: border-box;
            border: 0 solid #e2e8f0
        }

        html {
            -webkit-text-size-adjust: 100%;
            line-height: 1.5;
        }

        body {
            font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            margin: 0;
            background: #eee;
        }

        .btn,
        button {
            border: none;
            background: transparent;
            /*border-radius: 0;*/
        }

        a {
            background-color: transparent
        }

        code {
            font-family: monospace, monospace;
            font-size: 1em
        }

        [hidden] {
            display: none
        }

        a {
            color: inherit;
            text-decoration: inherit
        }

        footer {
            font-size: .7rem !important;
        }

        code {
            font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
        }

        svg, video {
            display: block;
            vertical-align: middle
        }

        video {
            max-width: 100%;
            height: auto
        }

        .bg-white {
            --bg-opacity: 1;
            background-color: #fff;
            background-color: rgba(255, 255, 255, var(--bg-opacity))
        }

        .bg-gray-100 {
            --bg-opacity: 1;
            background-color: #f7fafc;
            background-color: rgba(247, 250, 252, var(--bg-opacity))
        }

        .border-gray-200 {
            --border-opacity: 1;
            border-color: #edf2f7;
            border-color: rgba(237, 242, 247, var(--border-opacity))
        }

        .border-gray-400 {
            --border-opacity: 1;
            border-color: #cbd5e0;
            border-color: rgba(203, 213, 224, var(--border-opacity))
        }

        .border-t {
            border-top-width: 1px
        }

        .border-r {
            border-right-width: 1px
        }

        .flex {
            display: flex
        }

        .grid {
            display: grid
        }

        .hidden {
            display: none
        }

        .items-center {
            align-items: center
        }

        .justify-center {
            justify-content: center
        }

        .font-semibold {
            font-weight: 600
        }

        .h-5 {
            height: 1.25rem
        }

        .h-8 {
            height: 2rem
        }

        .h-16 {
            height: 4rem
        }

        .text-sm {
            font-size: .875rem
        }

        .text-lg {
            font-size: 1.125rem
        }

        .leading-7 {
            line-height: 1.75rem
        }

        .mx-auto {
            margin-left: auto;
            margin-right: auto
        }

        .ml-1 {
            margin-left: .25rem
        }

        .mt-2 {
            margin-top: .5rem
        }

        .mr-2 {
            margin-right: .5rem
        }

        .ml-2 {
            margin-left: .5rem
        }

        .mt-4 {
            margin-top: 1rem
        }

        .ml-4 {
            margin-left: 1rem
        }

        .mt-8 {
            margin-top: 2rem
        }

        .ml-12 {
            margin-left: 3rem
        }

        .-mt-px {
            margin-top: -1px
        }

        .max-w-xl {
            max-width: 36rem
        }

        .max-w-6xl {
            max-width: 72rem
        }

        .min-h-screen {
            min-height: 100vh
        }

        .overflow-hidden {
            overflow: hidden
        }

        .p-6 {
            padding: 1.5rem
        }

        .py-4 {
            padding-top: 1rem;
            padding-bottom: 1rem
        }

        .px-4 {
            padding-left: 1rem;
            padding-right: 1rem
        }

        .px-6 {
            padding-left: 1.5rem;
            padding-right: 1.5rem
        }

        .pt-8 {
            padding-top: 2rem
        }

        .fixed {
            position: fixed
        }

        .relative {
            position: relative
        }

        .top-0 {
            top: 0
        }

        .right-0 {
            right: 0
        }

        .shadow {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06)
        }

        .text-center {
            text-align: center
        }

        .text-gray-200 {
            --text-opacity: 1;
            color: #edf2f7;
            color: rgba(237, 242, 247, var(--text-opacity))
        }

        .text-gray-300 {
            --text-opacity: 1;
            color: #e2e8f0;
            color: rgba(226, 232, 240, var(--text-opacity))
        }

        .text-gray-400 {
            --text-opacity: 1;
            color: #cbd5e0;
            color: rgba(203, 213, 224, var(--text-opacity))
        }

        .text-gray-500 {
            --text-opacity: 1;
            color: #a0aec0;
            color: rgba(160, 174, 192, var(--text-opacity))
        }

        .text-gray-600 {
            --text-opacity: 1;
            color: #718096;
            color: rgba(113, 128, 150, var(--text-opacity))
        }

        .text-gray-700 {
            --text-opacity: 1;
            color: #4a5568;
            color: rgba(74, 85, 104, var(--text-opacity))
        }

        .text-gray-900 {
            --text-opacity: 1;
            color: #1a202c;
            color: rgba(26, 32, 44, var(--text-opacity))
        }

        .uppercase {
            text-transform: uppercase
        }

        .underline {
            text-decoration: underline
        }

        .antialiased {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale
        }

        .tracking-wider {
            letter-spacing: .05em
        }

        .w-5 {
            width: 1.25rem
        }

        .w-8 {
            width: 2rem
        }

        .w-auto {
            width: auto
        }

        .grid-cols-1 {
            grid-template-columns:repeat(1, minmax(0, 1fr))
        }

        .flex-linha {
            display: flex;
            flex-direction: row;
        }

        .flex-wrap {
            flex-wrap: wrap;
        }

        .flex-linha-item {
            display: flex;
        }

        .flex-linha-center {
            align-items: center;
            justify-content: center;
        }

        .flex-linha-left {
            align-items: center;
            justify-content: flex-start;
        }

        .flex-linha-right {
            align-items: center;
            justify-content: flex-end;
        }

        .flex-linha-flex {
            flex: 1;
        }

        .flex-coluna {
            display: flex;
            flex-direction: column;
        }

        .flex-coluna-left {
            align-items: flex-start;
            justify-content: center;
        }

        .flex-coluna-right {
            align-items: flex-end;
            justify-content: center;
        }


        .forno {
            background-size: 95% !important;
        }

        .forno-desligado {
            background: url('/assets/images/forno.png') no-repeat center center #000;
        }

        .forno-ligado {
            background: url('/assets/images/forno-acesso.png') no-repeat center center #000;
        }

        .form-range {
            -webkit-appearance: none; /* Remove o estilo padrão no Chrome/Safari */
            width: 100%;
            height: 6px;
            background: #ddd;
            border-radius: 5px;
            outline: none;
        }

        .form-range::-webkit-slider-runnable-track {
            background: #ccc;
            height: 6px;
            border-radius: 5px;
        }

        .form-range::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #4CAF50;
            cursor: pointer;
            margin-top: -6px; /* Centraliza com a barra */
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        }

        .form-range::-moz-range-track {
            background: #ccc;
            height: 6px;
            border-radius: 5px;
        }

        .form-range::-moz-range-thumb {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #4CAF50;
            cursor: pointer;
            border: none;
        }

        .form-range::-ms-track {
            background: transparent;
            border-color: transparent;
            color: transparent;
            height: 6px;
        }

        .form-range::-ms-fill-lower {
            background: #ccc;
            border-radius: 5px;
        }

        .form-range::-ms-fill-upper {
            background: #ccc;
            border-radius: 5px;
        }

        .form-range::-ms-thumb {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #4CAF50;
            cursor: pointer;
        }

        .form-range-ativo {
            font-weight: bold !important;
            color: #4CAF50 !important;
        }

        .btn-danger {
            color: #fff;
            border-color: #dc3545;
            background: #bb2d3b;
        }

        .btn-primary {
            color: #fff;
            border-color: #0d6efd;
            background: #0b5ed7;
        }

        .modal-title {
            color: #fff;
            font-size: .9rem !important;
        }

        .modal-header {
            background: #000;
        }

        .modal-footer {
            background: #eee;
        }

        .modal-footer .btn {
            font-size: .9rem !important;
        }

        .hidden {
            display: none;
        }

        .ml-3 {
            margin-left: 1rem;
        }

        @-webkit-keyframes spin {
            0% {
                transform: rotate(0deg)
            }
            to {
                transform: rotate(1turn)
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg)
            }
            to {
                transform: rotate(1turn)
            }
        }

        @-webkit-keyframes ping {
            0% {
                transform: scale(1);
                opacity: 1
            }
            75%, to {
                transform: scale(2);
                opacity: 0
            }
        }

        @keyframes ping {
            0% {
                transform: scale(1);
                opacity: 1
            }
            75%, to {
                transform: scale(2);
                opacity: 0
            }
        }

        @-webkit-keyframes pulse {
            0%, to {
                opacity: 1
            }
            50% {
                opacity: .5
            }
        }

        @keyframes pulse {
            0%, to {
                opacity: 1
            }
            50% {
                opacity: .5
            }
        }

        @-webkit-keyframes bounce {
            0%, to {
                transform: translateY(-25%);
                -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
                animation-timing-function: cubic-bezier(.8, 0, 1, 1)
            }
            50% {
                transform: translateY(0);
                -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
                animation-timing-function: cubic-bezier(0, 0, .2, 1)
            }
        }

        @keyframes bounce {
            0%, to {
                transform: translateY(-25%);
                -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
                animation-timing-function: cubic-bezier(.8, 0, 1, 1)
            }
            50% {
                transform: translateY(0);
                -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
                animation-timing-function: cubic-bezier(0, 0, .2, 1)
            }
        }

        @media (min-width: 640px) {
            .sm\:rounded-lg {
                border-radius: .5rem
            }

            .sm\:block {
                display: block
            }

            .sm\:items-center {
                align-items: center
            }

            .sm\:justify-start {
                justify-content: flex-start
            }

            .sm\:justify-between {
                justify-content: space-between
            }

            .sm\:h-20 {
                height: 5rem
            }

            .sm\:ml-0 {
                margin-left: 0
            }

            .sm\:px-6 {
                padding-left: 1.5rem;
                padding-right: 1.5rem
            }

            .sm\:pt-0 {
                padding-top: 0
            }

            .sm\:text-left {
                text-align: left
            }

            .sm\:text-right {
                text-align: right
            }
        }

        @media (min-width: 768px) {
            .md\:border-t-0 {
                border-top-width: 0
            }

            .md\:border-l {
                border-left-width: 1px
            }

            .md\:grid-cols-2 {
                grid-template-columns:repeat(2, minmax(0, 1fr))
            }
        }

        @media (min-width: 1024px) {
            .lg\:px-8 {
                padding-left: 2rem;
                padding-right: 2rem
            }
        }

        @media (prefers-color-scheme: dark) {

        }
    </style>
    <script
            crossorigin="anonymous"
            integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
    ></script>
</head>
<body
        class="relative flex items-top justify-center min-h-screen sm:items-center sm:pt-0"
>
<div id="content">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>
